#B .card-image{
  background-image: url(/Assets/images/Ball.JPG);
}
#C .card-image{
  background-image: url(/Assets/images/Cat.JPG);
}
#D .card-image{
  background-image: url(/Assets/images/Dog.JPG);
}
#E .card-image{
  background-image: url(/Assets/images/Elephant.JPG);
}
#F .card-image{
  background-image: url(/Assets/images/Fish.JPG);
}
#G .card-image{
  background-image: url(/Assets/images/Grapes.jpeg);
}
#H .card-image{
  background-image: url(/Assets/images/Hen.JPG);
}
#I .card-image{
  background-image: url(/Assets/images/Iron.JPG);
}
#J .card-image{
  background-image: url(/Assets/images/Jug.JPG);
}
#K .card-image{
  background-image: url(/Assets/images/Kite.JPG);
}
#L .card-image{
  background-image: url(/Assets/images/Lemon.JPG);
}
#M .card-image{
  background-image: url(/Assets/images/Monkey.JPG);
}
#N .card-image{
  background-image: url(/Assets/images/Nest.JPG);
}
#O .card-image{
  background-image: url(/Assets/images/Onion.JPG);
}
#P .card-image{
  background-image: url(/Assets/images/Peacock.JPG);
}
#Q .card-image{
  background-image: url(/Assets/images/Queen.JPG);
}
#R .card-image{
  background-image: url(/Assets/images/Rabbit.jpeg);
}
#S .card-image{
  background-image: url(/Assets/images/Fish.JPG);
}
#T .card-image{
  background-image: url(/Assets/images/Tea.JPG);
}
#U .card-image{
  background-image: url(/Assets/images/Umbrella.JPG);
}
#V .card-image{
  background-image: url(/Assets/images/Van.JPG);
}
#W .card-image{
  background-image: url(/Assets/images/Watch.JPG);
}
#X .card-image{
  background-image: url(/Assets/images/Xelophone.JPG);
}
#Y .card-image{
  background-image: url(/Assets/images/Yak.JPG);
}
#Z .card-image{
  background-image: url(/Assets/images/Zebra.JPG);
}